<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/jpg" href="033.jpg">
  <title>CSCI 467 Product Vue Starter App</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar">
      <li class="banner">Car Parts Store</li>
      <li class="item" v-on:click="content='list'">Product List</li>
      <li class="item" v-on:click="content='checkout'">Cart</li>
    </div>
    <div class="content" v-if="content=='list'">
      <div v-if="cart.length" class="cart" v-on:click="content='checkout'">Cart({{cart.length}})</div>
      <div v-else class="cartempty">Cart({{cart.length}})</div>
      <display @add-to-Cart="updateCart"></display>
    </div>  
    <div class="content" v-if="content=='checkout'">
      <checkout :cart="cart" @remove-from-Cart="removeCart" @close="content='list'"></checkout>
    </div>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Import Components -->
  <script src="./components/Display.js"></script>
  <script src="./components/Checkout.js"></script>
  <script src="./components/Product.js"></script>
  <script src="./components/CheckoutModal.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>