<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/jpg" href="033.jpg">
  <title>CSCI 467 Product Vue Starter App</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar">
      <li class="banner">Car Parts Warehouse</li>
      <li class="item" v-on:click="content='list'">Orders</li>
      <li class="item" v-on:click="content='receive'">Receiving</li>
    </div>
    <div class="content" v-if="content=='list'">
      <orders></orders>
    </div>  
    <div class="content" v-if="content=='receive'">
      <receive></receive>
    </div>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Import Components -->
  <script src="./components/Orders.js"></script>
  <script src="./components/Receive.js"></script>
  <script src="./components/Product.js"></script>
  <script src="./components/FillModal.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>